<% layout("/layouts/boilerplate") %>

<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-6 offset-3">
    <form action="/campgrounds" method="POST">
      <div class="mb-3">
        <label class="form-label fw-bold" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
          value="<%=targetCamp.title%>"
        />
      </div>
      <div class="mb-3">
        <label class="form-label fw-bold" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="campground[location]"
          value="<%=targetCamp.location%>"
        />
      </div>
      <div class="mb-3">
        <label class="from-label mb-2 fw-bold" for="price">Price/1Day</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            class="form-control"
            placeholder="0.00"
            id="price"
            aria-label="price"
            aria-describedby="price-label"
            name="campground[price]"
            value="<%=targetCamp.price%>"
          />
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label fw-bold" for="image">Image Url</label>
        <input
          class="form-control"
          type="text"
          id="image"
          name="campground[image]"
          value="<%=targetCamp.img%>"
        />
      </div>
      <div class="mb-3">
        <label class="form-label fw-bold" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="campground[description]"
        >
<%= targetCamp.description %> </textarea
        >
      </div>
      <div class="mb-3">
        <button class="btn btn-info">Update Campground</button>
      </div>
    </form>
    <a href="/campgrounds/<%=targetCamp._id%>">Back To Campground</a>
  </div>
</div>
